@font-face {
  font-family: "Fira sans", sans-serif;
  src: url("../fonts/FiraSans-Light.ttf") format("ttf");
  src: url("../fonts/firasans-light-webfont.eot") format("eot");
  src: url("../fonts/firasans-light-webfont.svg") format("svg");
  src: url("../fonts/firasans-light-webfont.woff") format("woff");
  src: url("../fonts/firasans-light-webfont.woff2") format("woff2");
  src: url("../fonts/FiraSans-bold.ttf") format("ttf");
  src: url("../fonts/firasans-bold-webfont.eot") format("eot");
  src: url("../fonts/firasans-bold-webfont.svg") format("svg");
  src: url("../fonts/firasans-bold-webfont.woff") format("woff");
  src: url("../fonts/firasans-bold-webfont.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  color: #333;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Fira sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

body {
  position: relative;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  padding: 0 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.h2-title {
  font-size: 3rem;
  font-weight: 700;
}

.h2-amin-title-bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  font-weight: 700;
  color: rgba(51, 51, 51, 0.3);
  white-space: nowrap;
  opacity: 1;
}

._anim-item {
  position: relative;
  top: 100px;
  opacity: 0;
  transition: all 0.3s ease;
}

._anim-item.active {
  top: 0;
  opacity: 1;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  section .h2-amin-title-bg {
    display: none;
  }
}
header {
  padding: 0 20px 114px;
  background: url("../img/header_bg.jpg") center -50px no-repeat fixed;
  color: #fff;
}
header nav.header_nav-unscrolled .container {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
}
header nav.header_nav-unscrolled .container .header__logo a img {
  max-width: 144px;
  max-height: 137px;
  min-width: 50px;
  min-height: 40px;
  width: 100%;
}
header nav.header_nav-unscrolled .container .header__navigation {
  position: relative;
  padding-top: 71px;
}
header nav.header_nav-unscrolled .container .header__navigation .header__navigation__contacts {
  position: absolute;
  top: 25px;
  right: 0;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  margin-bottom: 25px;
}
header nav.header_nav-unscrolled .container .header__navigation .header__navigation__contacts .header__navigation__contacts_messangers a svg {
  fill: #ffffff;
}
header nav.header_nav-unscrolled .container .header__navigation .header__navigation__contacts .header__navigation__contacts_messangers a svg:active {
  fill: #dba069;
}
header nav.header_nav-unscrolled .container .header__navigation .header__navigation__contacts .header__navigation__contacts_numbers {
  transition: all 1s ease;
}
header nav.header_nav-unscrolled .container .header__navigation .header__navigation__contacts .header__navigation__contacts_numbers:active {
  transform: scale(0.97);
}
header nav.header_nav-unscrolled .container .header__navigation .header__navigation__contacts .header__navigation__contacts_numbers:hover a {
  background-color: #dba069;
}
header nav.header_nav-unscrolled .container .header__navigation .header__navigation__contacts .header__navigation__contacts_numbers a {
  position: relative;
  margin-left: 35px;
  padding: 10px 20px 10px 52px;
  color: #fff;
  border: 1px #DBA069 solid;
  border-radius: 3px;
  transition: all 1s ease;
}
header nav.header_nav-unscrolled .container .header__navigation .header__navigation__contacts .header__navigation__contacts_numbers a:before {
  content: url("../img/phone.svg");
  margin-right: 10px;
  position: absolute;
  top: 6px;
  left: 20px;
}
header nav.header_nav-unscrolled .container .header__navigation .header__navigation__nav_menu ul {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
}
header nav.header_nav-unscrolled .container .header__navigation .header__navigation__nav_menu ul li {
  position: relative;
  margin-left: 50px;
}
header nav.header_nav-unscrolled .container .header__navigation .header__navigation__nav_menu ul li a {
  color: #fff;
}
header nav.header_nav-unscrolled .container .header__navigation .header__navigation__nav_menu ul li:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 4px;
  width: 1%;
  transition: all 0.5s ease;
}
header nav.header_nav-unscrolled .container .header__navigation .header__navigation__nav_menu ul li:active {
  transform: scale(0.97);
}
header nav.header_nav-unscrolled .container .header__navigation .header__navigation__nav_menu ul li:hover:after {
  width: 100%;
  background-color: #DBA069;
}
header section.header__banner {
  padding-top: 115px;
}
header section.header__banner .container {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
}
header section.header__banner .container .header__banner__info {
  width: 100%;
  max-width: 846px;
  font-size: 1.25rem;
}
header section.header__banner .container .header__banner__info h1 {
  margin-bottom: 20px;
  font-size: 2.375rem;
  font-weight: 700;
  color: #ffffff;
}
header section.header__banner .container .header__banner__info a {
  max-width: 285px;
  display: block;
  margin-bottom: 40px;
  padding: 20px 30px;
  font-weight: 700;
  color: #000;
  background-color: #DBA069;
  transition: all 0.5s ease;
}
header section.header__banner .container .header__banner__info a:hover {
  color: #ffffff;
}
header section.header__banner .container .header__banner__info a:active {
  transform: scale(0.97);
  background-color: #b48559;
}
header section.header__banner .container .header__banner__info h3 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
header section.header__banner .container .header__banner__info .header__banner__info__box {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
}
header section.header__banner .container .header__banner__info .header__banner__info__box div {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  margin: auto 0;
  color: #ffffff;
}
header section.header__banner .container .header__banner__info .header__banner__info__box div div:first-child {
  font-size: 8rem;
  color: #ffffff;
}
header section.header__banner .container .header__banner__info .header__banner__info__box div:first-child {
  margin-right: 26px;
  color: #ffffff;
}
header section.header__banner .container .header__banner__deadlines {
  width: 100%;
  max-width: 296px;
  line-height: 1.375rem;
}
header section.header__banner .container .header__banner__deadlines p {
  color: #ffffff;
}
header section.header__banner .container .header__banner__deadlines p b {
  color: #ffffff;
}
header section.header__banner .container .header__banner__deadlines p:not(:last-child) {
  margin-bottom: 20px;
}
header section.header__banner.pt-250px {
  padding-top: 250px;
}

header nav.header_nav-scrolled {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(126, 134, 142, 0.9);
  transition: all 0.5s ease;
}
header nav.header_nav-scrolled .container {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: space-between;
}
header nav.header_nav-scrolled .container .header__logo a {
  display: block;
  transition: border-color 0.5s ease;
}
header nav.header_nav-scrolled .container .header__logo a img {
  max-width: 90px;
  width: 100%;
  transition: all 0.3s ease;
}
header nav.header_nav-scrolled .container .header__logo a:hover {
  transition: all 0.3s ease;
}
header nav.header_nav-scrolled .container .header__navigation {
  padding-top: 40px;
}
header nav.header_nav-scrolled .container .header__navigation .header__navigation__contacts {
  display: none;
}
header nav.header_nav-scrolled .container .header__navigation .header__navigation__nav_menu ul {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  transition: all 0.3s ease;
}
header nav.header_nav-scrolled .container .header__navigation .header__navigation__nav_menu ul li {
  position: relative;
  margin-left: 50px;
}
header nav.header_nav-scrolled .container .header__navigation .header__navigation__nav_menu ul li a {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
}
header nav.header_nav-scrolled .container .header__navigation .header__navigation__nav_menu ul {
  transition: all 0.3s ease;
}
header nav.header_nav-scrolled .container .header__navigation .header__navigation__nav_menu ul li:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 4px;
  width: 1%;
  transition: all 0.5s ease;
}
header nav.header_nav-scrolled .container .header__navigation .header__navigation__nav_menu ul li:active {
  transform: scale(0.97);
}
header nav.header_nav-scrolled .container .header__navigation .header__navigation__nav_menu ul li:hover:after {
  width: 100%;
  background-color: #842231;
}

@media (max-width: 1024px) {
  header nav.header_nav-unscrolled .container .header__navigation .header__navigation__nav_menu ul li {
    margin-left: 13px;
  }

  header nav.header_nav-scrolled .container .header__navigation .header__navigation__nav_menu ul li {
    margin-left: 20px;
    font-size: initial;
  }
}
@media (max-width: 768px) {
  header {
    padding-top: 50px;
  }
  header nav.header_nav-unscrolled,
header nav.header_nav-scrolled {
    display: none;
  }
  header section.header__banner .container {
    display: initial;
  }
  header section.header__banner .container .header__banner__info h1,
header section.header__banner .container .header__banner__info h3 {
    text-align: center;
  }
  header section.header__banner .container .header__banner__info a {
    display: none;
  }
  header section.header__banner .container .header__banner__info .header__banner__info__box {
    justify-content: center;
  }
  header section.header__banner .container .header__banner__deadlines {
    max-width: 100%;
    text-align: center;
  }
  header section.header__banner.pt-250px {
    padding-top: 115px;
  }
}
@media (max-width: 576px) {
  header section.header__banner .container .header__banner__info .header__banner__info__box {
    justify-content: space-evenly;
    margin-bottom: 30px;
  }
  header section.header__banner .container .header__banner__info .header__banner__info__box div {
    flex-direction: column;
    text-align: center;
  }
  header section.header__banner .container .header__banner__info .header__banner__info__box div div:first-child {
    margin: 0;
  }
}
@media (max-width: 320px) {
  header section.header__banner .container .header__banner__info .header__banner__info__box div {
    margin: 0;
  }
}
main section._1_about-project {
  position: relative;
  padding: 127px 0 52px 0;
}
main section._1_about-project h2.h2-amin-title-bg {
  font-size: 13.125rem;
  line-height: 18rem;
}
main section._1_about-project .container .about-project__wrap {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: space-between;
}
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner .about-project__about-company h3 {
  font-size: 1.25rem;
  font-weight: 700;
}
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner .about-project__about-company p {
  font-size: 1.25rem;
  line-height: 1.375rem;
}
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:first-child {
  max-width: 680px;
  width: 100%;
}
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:first-child .about-project__about-company {
  margin-top: 70px;
}
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child {
  max-width: 440px;
  width: 100%;
}
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box {
  margin-bottom: 90px;
  max-width: 442px;
  max-height: 418px;
  width: 100%;
  height: 100%;
  position: relative;
}
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box img.about-project__company-logo__img,
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box .about-project__company-logo__bg-color,
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box .about-project__company-logo__bg-dots {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box img.about-project__company-logo__img {
  bottom: 15px;
  right: 15px;
  z-index: 3;
}
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box .about-project__company-logo__bg-color {
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: #842231;
}
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box .about-project__company-logo__bg-dots {
  top: 16px;
  left: 20px;
  z-index: 1;
  background: url("../img/3_location__dots.svg");
}
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box:hover img.about-project__company-logo__img {
  bottom: 33px;
  right: 42px;
}
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box:hover .about-project__company-logo__bg-dots {
  top: 40px;
  left: 40px;
}

@media (max-width: 1140px) {
  main section._1_about-project {
    padding: 40px 0 52px 0;
  }
  main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:first-child {
    margin-right: 30px;
  }
  main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box img.about-project__company-logo__img {
    bottom: 0;
    right: 0;
  }
  main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box img.about-project__company-logo__img,
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box .about-project__company-logo__bg-color,
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box .about-project__company-logo__bg-dots {
    height: initial;
  }
  main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box .about-project__company-logo__bg-color,
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box .about-project__company-logo__bg-dots {
    display: none;
  }
  main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box:hover img.about-project__company-logo__img {
    bottom: 0;
    right: 0;
  }
}
@media (max-width: 768px) {
  main section._1_about-project .container .about-project__wrap {
    display: initial;
  }
  main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:first-child {
    margin: 0 0 40px 0;
  }
  main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:first-child .about-project__about-company {
    margin-top: 40px;
  }
  main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child {
    max-width: 100%;
  }
  main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box {
    margin: 0 auto 40px auto;
    max-width: 80%;
    max-height: initial;
  }
  main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box img.about-project__company-logo__img,
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box .about-project__company-logo__bg-color,
main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box .about-project__company-logo__bg-dots {
    position: initial;
  }
}
@media (max-width: 576px) {
  main section._1_about-project h2 {
    margin-left: 20px;
  }
  main section._1_about-project .container {
    padding: 0;
  }
  main section._1_about-project .container .about-project__wrap .about-project__wrap-inner .about-project__about-company {
    padding: 0 20px;
  }
  main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box {
    margin-bottom: 40px;
    max-width: 100%;
    width: 100%;
  }
  main section._1_about-project .container .about-project__wrap .about-project__wrap-inner:last-child .about-project__company-logo__box img.about-project__company-logo__img {
    width: 100%;
  }
}
main section._2_slider {
  padding: 40px 0 45px 0;
  background-color: rgba(132, 34, 49, 0.05);
}
main section._2_slider .container .slider__wrap {
  position: relative;
  overflow: hidden;
}
main section._2_slider .container .slider__wrap .slider__slides {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  width: 100%;
  overflow: hidden;
  transition: all 1s ease;
}
main section._2_slider .container .slider__wrap .slider__slides .slider__box {
  padding: 30px 50px;
  width: 100%;
  background: url("../img/dots.svg") 70px 51px no-repeat;
  transition: all 0.5s ease;
}
main section._2_slider .container .slider__wrap .slider__slides .slider__box .slider__box__inner {
  padding-left: 50px;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}
main section._2_slider .container .slider__wrap .slider__slides .slider__box .slider__box__inner img {
  display: block;
  margin: 0 auto;
}
main section._2_slider .container .slider__wrap .slider__slides .slider__box .slider__box__inner img:first-child {
  max-width: 600px;
}
main section._2_slider .container .slider__wrap .slider__slides .slider__box .slider__box__inner img:last-child {
  max-width: 400px;
}
main section._2_slider .container .slider__wrap .slider__prev-btn,
main section._2_slider .container .slider__wrap .slider__next-btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
  cursor: pointer;
  transition: all 0.5s ease;
}
main section._2_slider .container .slider__wrap .slider__prev-btn img,
main section._2_slider .container .slider__wrap .slider__next-btn img {
  position: relative;
  z-index: 1;
}
main section._2_slider .container .slider__wrap .slider__prev-btn {
  left: 0;
}
main section._2_slider .container .slider__wrap .slider__next-btn {
  right: 0;
}
main section._2_slider .container .slider__wrap .slider__prev-btn:active img,
main section._2_slider .container .slider__wrap .slider__next-btn:active img {
  transform: scale(0.97);
}
main section._2_slider .container .slider__wrap:hover .slider__box {
  background: url("../img/dots.svg") 60px 61px no-repeat;
}

@media (max-width: 1140px) {
  main section._2_slider .container .slider__wrap .slider__slides .slider__box .slider__box__inner {
    display: initial;
  }
  main section._2_slider .container .slider__wrap .slider__slides .slider__box .slider__box__inner img:first-child {
    margin-bottom: 40px;
  }
  main section._2_slider .container .slider__wrap .slider__slides .slider__box .slider__box__inner img:last-child {
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  main section._2_slider .container .slider__wrap .slider__slides .slider__box .slider__box__inner {
    display: initial;
  }
  main section._2_slider .container .slider__wrap .slider__slides .slider__box .slider__box__inner img:first-child {
    max-width: 90%;
  }
  main section._2_slider .container .slider__wrap .slider__slides .slider__box .slider__box__inner img:last-child {
    max-width: 90%;
  }
}
@media (max-width: 576px) {
  main section._2_slider {
    display: none;
  }
}
main section._3_location {
  padding: 120px 0 0 0;
  position: relative;
}
main section._3_location h2.h2-amin-title-bg {
  font-size: 13.125rem;
  line-height: 18rem;
}
main section._3_location .container {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: space-between;
}
main section._3_location .container .location__content,
main section._3_location .container .location__map-box {
  max-width: 550px;
}
main section._3_location .container .location__content {
  padding-top: 90px;
}
main section._3_location .container .location__content h2 {
  margin-bottom: 48px;
}
main section._3_location .container .location__content p {
  font-size: 1.25rem;
  line-height: 1.375rem;
}
main section._3_location .container .location__content p:not(:last-child) {
  margin-bottom: 25px;
}
main section._3_location .container .location__map-box {
  width: 518px;
  height: 400px;
  position: relative;
}
main section._3_location .container .location__map-box img.location__map__img,
main section._3_location .container .location__map-box .location__map__bg-color,
main section._3_location .container .location__map-box .location__map__bg-dots {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
main section._3_location .container .location__map-box .location__map__img {
  bottom: 10px;
  right: 15px;
  z-index: 3;
}
main section._3_location .container .location__map-box .location__map__bg-color {
  bottom: 0;
  right: 0;
  background-color: #842231;
  z-index: 2;
}
main section._3_location .container .location__map-box .location__map__bg-dots {
  top: 9px;
  left: 20px;
  z-index: 1;
  background: url("../img/3_location__dots.svg");
}
main section._3_location .container .location__map-box:hover .location__map__img {
  bottom: 42px;
  right: 42px;
}
main section._3_location .container .location__map-box:hover .location__map__bg-dots {
  top: 56px;
  left: 43px;
}

@media (max-width: 1140px) {
  main section._3_location {
    padding: 40px 0 0 0;
  }
  main section._3_location .container .location__content {
    margin-right: 25px;
    padding: 0 20px 0 20px;
  }
  main section._3_location .container .location__map-box img.location__map__img {
    position: initial;
  }
  main section._3_location .container .location__map-box .location__map__bg-color,
main section._3_location .container .location__map-box .location__map__bg-dots {
    display: none;
  }
}
@media (max-width: 1024px) {
  main section._3_location .container {
    display: initial;
  }
  main section._3_location .container .location__content {
    max-width: 100%;
    margin: 0 0 25px 0;
  }
  main section._3_location .container .location__map-box {
    margin: 0 auto;
    max-width: 100%;
    max-height: initial;
    height: initial;
  }
}
@media (max-width: 576px) {
  main section._3_location .container {
    padding: 0;
  }
  main section._3_location .container .location__content {
    padding: 0 20px;
  }
  main section._3_location .container .location__map-box {
    max-width: 100%;
    width: 100%;
  }
  main section._3_location .container .location__map-box img.location__map__img {
    max-width: 100%;
    width: 100%;
  }
}
main section._4_advantages {
  padding: 130px 0 80px 0;
  position: relative;
  overflow: hidden;
}
main section._4_advantages .container {
  max-width: 900px;
  position: relative;
}
main section._4_advantages .container img.advantages__dots {
  display: block;
  max-width: 1114px;
  width: 80%;
  position: absolute;
  top: -62px;
  left: -270px;
  z-index: 0;
}
main section._4_advantages .container img.advantages__bg {
  position: absolute;
  top: -4px;
  left: -270px;
  z-index: 1;
}
main section._4_advantages .container .advantages__content-box {
  padding-top: 60px;
  position: relative;
  z-index: 2;
}
main section._4_advantages .container .advantages__content-box h2 {
  margin-bottom: 40px;
}
main section._4_advantages .container .advantages__content-box .advantages__img-box {
  margin-bottom: 60px;
}
main section._4_advantages .container .advantages__content-box .advantages__img-box img {
  max-width: 900px;
  width: 100%;
}
main section._4_advantages .container .advantages__content-box ul {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
main section._4_advantages .container .advantages__content-box ul li {
  margin: 0 60px 50px 0;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
}
main section._4_advantages .container .advantages__content-box ul li div {
  margin-right: 15px;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  align-items: start;
}
main section._4_advantages .container .advantages__content-box ul li p {
  font-size: 1.25rem;
  line-height: 1.375rem;
}
main section._4_advantages .container .advantages__content-box ul:last-child {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}
main section._4_advantages .container .advantages__content-box ul:last-child li:last-child {
  width: 100%;
}

@media (max-width: 1140px) {
  main section._4_advantages {
    padding: 50px 0 40px 0;
  }
}
@media (max-width: 768px) {
  main section._4_advantages .container .advantages__content-box {
    padding-top: 20px;
  }
  main section._4_advantages .container .advantages__content-box ul li {
    margin: 0 20px 30px 0;
  }
  main section._4_advantages .container .advantages__content-box .advantages__img-box {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  main section._4_advantages .container {
    padding: 0;
  }
  main section._4_advantages .container img.advantages__dots,
main section._4_advantages .container img.advantages__bg {
    display: none;
  }
  main section._4_advantages .container .advantages__content-box h2 {
    margin-left: 20px;
  }
  main section._4_advantages .container .advantages__content-box ul {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    padding: 0 20px;
  }
}
@media (max-width: 480px) {
  main section._4_advantages .container {
    padding: 0;
  }
  main section._4_advantages .container .advantages__content-box ul {
    padding: 0 20px;
  }
}
main section._5_why-nura {
  padding: 99px 0 34px 0;
  position: relative;
}
main section._5_why-nura h2.h2-amin-title-bg {
  font-size: 9.125rem;
  line-height: 15.125rem;
}
main section._5_why-nura .container h2 {
  margin-bottom: 99px;
}
main section._5_why-nura .container .why-nura__content-box {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
}
main section._5_why-nura .container .why-nura__content-box .why-nura__img-box {
  margin-right: 100px;
  position: relative;
  width: 453px;
  height: 400px;
}
main section._5_why-nura .container .why-nura__content-box .why-nura__img-box img.why-nura__img,
main section._5_why-nura .container .why-nura__content-box .why-nura__img-box .why-nura__bg-color,
main section._5_why-nura .container .why-nura__content-box .why-nura__img-box .why-nura__bg-dots {
  display: block;
  position: absolute;
  transition: all 0.5s ease;
}
main section._5_why-nura .container .why-nura__content-box .why-nura__img-box img.why-nura__img,
main section._5_why-nura .container .why-nura__content-box .why-nura__img-box .why-nura__bg-color,
main section._5_why-nura .container .why-nura__content-box .why-nura__img-box .why-nura__bg-dots {
  max-width: 453px;
  max-height: 400px;
  width: 100%;
  height: 100%;
}
main section._5_why-nura .container .why-nura__content-box .why-nura__img-box img.why-nura__img {
  bottom: 10px;
  left: 15px;
  z-index: 3;
}
main section._5_why-nura .container .why-nura__content-box .why-nura__img-box .why-nura__bg-color {
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #842231;
}
main section._5_why-nura .container .why-nura__content-box .why-nura__img-box .why-nura__bg-dots {
  top: 9px;
  right: 25px;
  z-index: 1;
  background: url("../img/3_location__dots.svg");
}
main section._5_why-nura .container .why-nura__content-box .why-nura__img-box:hover img.why-nura__img {
  bottom: 53px;
  left: 42px;
}
main section._5_why-nura .container .why-nura__content-box .why-nura__img-box:hover .why-nura__bg-dots {
  top: 35px;
  right: 65px;
}
main section._5_why-nura .container .why-nura__content-box .why-nura__content-box__inner {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
}
main section._5_why-nura .container .why-nura__content-box .why-nura__content-box__inner ul:last-child {
  margin-left: 15px;
}
main section._5_why-nura .container .why-nura__content-box .why-nura__content-box__inner ul {
  padding: 86px 0 124px 0;
  max-width: 336px;
}
main section._5_why-nura .container .why-nura__content-box .why-nura__content-box__inner ul li {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  margin-bottom: 40px;
}
main section._5_why-nura .container .why-nura__content-box .why-nura__content-box__inner ul li div {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  margin-right: 15px;
  justify-items: start;
  height: 100%;
}
main section._5_why-nura .container .why-nura__content-box .why-nura__content-box__inner ul li span b,
main section._5_why-nura .container .why-nura__content-box .why-nura__content-box__inner ul li span p {
  font-size: 1.125rem;
}
main section._5_why-nura .container .why-nura__content-box .why-nura__content-box__inner ul li span p:last-child {
  margin-top: 20px;
}

@media (max-width: 1140px) {
  main section._5_why-nura {
    padding: 60px 0 40px 0;
  }
  main section._5_why-nura .container h2 {
    margin-bottom: 40px;
  }
  main section._5_why-nura .container .why-nura__content-box .why-nura__img-box {
    padding-bottom: 40px;
    width: 100%;
    height: initial;
  }
  main section._5_why-nura .container .why-nura__content-box .why-nura__img-box img.why-nura__img {
    position: initial;
    max-width: 100%;
    max-height: initial;
    height: initial;
  }
  main section._5_why-nura .container .why-nura__content-box .why-nura__img-box .why-nura__bg-color,
main section._5_why-nura .container .why-nura__content-box .why-nura__img-box .why-nura__bg-dots {
    display: none;
  }
  main section._5_why-nura .container .why-nura__content-box .why-nura__content-box__inner ul {
    padding: 0;
    max-width: 50%;
  }
}
@media (max-width: 1024px) {
  main section._5_why-nura .container .why-nura__content-box {
    display: initial;
  }
}
@media (max-width: 576px) {
  main section._5_why-nura {
    padding: 20px 0 40px 0;
  }
  main section._5_why-nura .container {
    padding: 0;
  }
  main section._5_why-nura .container h2 {
    margin-left: 20px;
  }
  main section._5_why-nura .container .why-nura__content-box .why-nura__content-box__inner {
    padding: 0 20px;
    display: initial;
  }
  main section._5_why-nura .container .why-nura__content-box .why-nura__content-box__inner ul {
    max-width: 100%;
  }
  main section._5_why-nura .container .why-nura__content-box .why-nura__content-box__inner ul:first-child,
main section._5_why-nura .container .why-nura__content-box .why-nura__content-box__inner ul:last-child {
    margin: 0;
    padding: 0;
  }
}
main section._6_technologies {
  padding-top: 127px;
  position: relative;
}
main section._6_technologies h2.h2-amin-title-bg {
  font-size: 9.125rem;
  line-height: 17.52rem;
}
main section._6_technologies .container {
  position: relative;
  z-index: 2;
}
main section._6_technologies .container h2 {
  margin-bottom: 43px;
  text-align: center;
}
main section._6_technologies .container .technologies__content-box {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: space-between;
}
main section._6_technologies .container .technologies__content-box ul:first-child {
  margin-right: 20px;
}
main section._6_technologies .container .technologies__content-box ul:last-child {
  margin-top: 55px;
}
main section._6_technologies .container .technologies__content-box ul {
  max-width: 50%;
  width: 100%;
}
main section._6_technologies .container .technologies__content-box ul li:not(:last-child) {
  margin-bottom: 80px;
}
main section._6_technologies .container .technologies__content-box ul li:not(:last-child) img {
  width: 100%;
  margin-bottom: 32px;
}
main section._6_technologies .container .technologies__content-box ul li:not(:last-child) img.technology_img-1 {
  max-width: 188px;
}
main section._6_technologies .container .technologies__content-box ul li:not(:last-child) img.technology_img-3 {
  max-width: 216px;
}
main section._6_technologies .container .technologies__content-box ul li:not(:last-child) img.technology_img-5 {
  max-width: 322px;
}
main section._6_technologies .container .technologies__content-box ul li:not(:last-child) img.technology_img-2 {
  max-width: 230px;
}
main section._6_technologies .container .technologies__content-box ul li:not(:last-child) img.technology_img-4,
main section._6_technologies .container .technologies__content-box ul li:not(:last-child) img.technology_img-6 {
  max-width: 339px;
}
main section._6_technologies .container .technologies__content-box ul li:not(:last-child) h3 {
  margin-bottom: 12px;
  font-size: 1.25rem;
  font-weight: 700;
}
main section._6_technologies .container .technologies__content-box ul li:not(:last-child) p {
  font-size: 1.125rem;
  line-height: 1.25rem;
}
main section._6_technologies .container .technologies__download-presentation__box {
  padding-top: 100px;
}
main section._6_technologies .container .technologies__download-presentation__box .technologies__download-presentation {
  padding: 70px 150px;
  border: 8px #842231 solid;
  border-radius: 8px;
}
main section._6_technologies .container .technologies__download-presentation__box .technologies__download-presentation h2 {
  margin-bottom: 12px;
}
main section._6_technologies .container .technologies__download-presentation__box .technologies__download-presentation p {
  margin-bottom: 36px;
  font-size: 1.3125rem;
  font-weight: 400;
  text-align: center;
}
main section._6_technologies .container .technologies__download-presentation__box .technologies__download-presentation form {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
}
main section._6_technologies .container .technologies__download-presentation__box .technologies__download-presentation form input {
  padding: 32px 0 32px 58px;
  max-width: 280px;
  width: 100%;
  color: #7E868E;
  background-color: #E5E5E5;
  border-radius: 8px;
}
main section._6_technologies .container .technologies__download-presentation__box .technologies__download-presentation form input:not(:last-child) {
  margin-right: 20px;
}
main section._6_technologies .container .technologies__download-presentation__box .technologies__download-presentation form input:last-child {
  padding: 32px 0;
  font-size: 1.125rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #842231;
  cursor: pointer;
}
main .technologies__bg-logo {
  position: absolute;
  bottom: -284px;
  right: -43px;
  z-index: -1;
}

@media (max-width: 1140px) {
  main section._6_technologies {
    padding-top: 20px;
  }
  main section._6_technologies .container .technologies__download-presentation__box .technologies__download-presentation {
    padding: 70px 70px;
  }
  main section._6_technologies .container .technologies__download-presentation__box .technologies__bg-logo {
    display: none;
  }
}
@media (max-width: 768px) {
  main section._6_technologies .container .technologies__content-box {
    display: initial;
  }
  main section._6_technologies .container .technologies__content-box ul {
    max-width: 100%;
  }
  main section._6_technologies .container .technologies__content-box ul li {
    margin-bottom: 40px;
  }
  main section._6_technologies .container .technologies__download-presentation__box {
    display: none;
  }
}
main section._7_payments {
  padding-top: 131px;
  position: relative;
}
main section._7_payments .h2-amin-title-bg {
  font-size: 10rem;
  line-height: 18rem;
}
main section._7_payments .container {
  margin-bottom: 56px;
}
main section._7_payments .container h2 {
  margin-bottom: 60px;
  text-align: center;
}
main section._7_payments .container > ul {
  margin: 0 auto;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: space-between;
  max-width: 883px;
  width: 100%;
  text-align: center;
}
main section._7_payments .container > ul li img {
  margin-bottom: 15px;
}
main section._7_payments .container > ul li img.payments_icon-1 {
  max-width: 124px;
  width: 100%;
}
main section._7_payments .container > ul li img.payments_icon-2 {
  max-width: 87px;
  width: 100%;
}
main section._7_payments .container > ul li img.payments_icon-3 {
  max-width: 69px;
  width: 100%;
}
main section._7_payments .container > ul li img.payments_icon-4 {
  max-width: 80px;
  width: 100%;
}
main section._7_payments .container > ul li p {
  font-size: 1.0625rem;
  font-weight: 700;
}
main section._7_payments .container .payments__address {
  padding-top: 100px;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: space-between;
}
main section._7_payments .container .payments__address .payments__address__map {
  margin-right: 20px;
}
main section._7_payments .container .payments__address .payments__address__contacts h2 {
  margin-bottom: 30px;
}
main section._7_payments .container .payments__address .payments__address__contacts > a {
  margin: 0 0 30px 30px;
  display: inline-block;
  position: relative;
  font-size: 1.125rem;
}
main section._7_payments .container .payments__address .payments__address__contacts > a:before {
  content: "";
  display: block;
  position: absolute;
  left: -30px;
  background-image: url("../img/location_icon.svg");
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}
main section._7_payments .container .payments__address .payments__address__contacts .payments__address__contacts-box {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: space-between;
}
main section._7_payments .container .payments__address .payments__address__contacts .payments__address__contacts-box ul {
  margin-top: 3px;
}
main section._7_payments .container .payments__address .payments__address__contacts .payments__address__contacts-box ul li {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
}
main section._7_payments .container .payments__address .payments__address__contacts .payments__address__contacts-box ul li img {
  margin-right: 12px;
}
main section._7_payments .container .payments__address .payments__address__contacts .payments__address__contacts-box ul li:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  main section._7_payments .container > ul {
    margin-bottom: 20px;
  }
  main section._7_payments .container .payments__address {
    display: initial;
  }
  main section._7_payments .container .payments__address .payments__address__map {
    max-width: 600px;
    width: 100%;
    margin: 0 auto 20px auto;
  }
  main section._7_payments .container .payments__address .payments__address__contacts {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
  main section._7_payments .container .payments__address .payments__address__contacts .payments__address__contacts-box ul {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  main section._7_payments {
    padding: 60px 0 70px 0;
  }
  main section._7_payments .container {
    margin: 0;
  }
  main section._7_payments .container > ul {
    flex-wrap: wrap;
  }
  main section._7_payments .container > ul li {
    width: 50%;
  }
  main section._7_payments .container .payments__address {
    max-width: 100%;
    width: 100%;
  }
  main section._7_payments .container .payments__address .payments__address__map {
    display: none;
  }
  main section._7_payments .container .payments__address .payments__address__contacts {
    margin: 0 auto;
  }
  main section._7_payments .container .payments__address .payments__address__contacts .payments__address__contacts-box {
    display: -webkit- flex;
    display: -ms- flex;
    display: flex;
  }
}
@media (max-width: 480px) {
  main section._7_payments .container > ul li {
    margin-bottom: 20px;
    width: 100%;
  }
  main section._7_payments .container .payments__address .payments__address__contacts .payments__address__contacts-box {
    display: initial;
  }
  main section._7_payments .container .payments__address .payments__address__contacts .payments__address__contacts-box img {
    display: block;
    margin: 0 auto;
  }
}
footer {
  padding: 44px 0;
  background-color: #F9F4F4;
}
footer .container ul {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: center;
  max-width: 688px;
  width: 100%;
  margin: 0 auto;
}
footer .container ul li a {
  font-size: 1.125rem;
  line-height: 1.375rem;
}
footer .container ul li:not(:last-child) {
  margin-right: 60px;
}

@media (max-width: 768px) {
  footer {
    display: none;
  }
}
body .modal-window {
  width: 100%;
  height: 100%;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
body .modal-window .modal-window__wrap {
  position: relative;
  z-index: 6;
  padding: 20px 40px;
  background-image: url("../img/bg-logo__cherry.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  border: 8px #842231 solid;
  border-radius: 8px;
}
body .modal-window .modal-window__wrap .modal-window__content h2 {
  margin-bottom: 12px;
  text-align: center;
}
body .modal-window .modal-window__wrap .modal-window__content p {
  margin-bottom: 36px;
  font-size: 1.3125rem;
  font-weight: 400;
  text-align: center;
}
body .modal-window .modal-window__wrap .modal-window__content form input {
  margin: 0 auto 20px auto;
  padding: 15px 0 15px 25px;
  max-width: 280px;
  width: 100%;
  display: block;
  color: #7E868E;
  background-color: #E5E5E5;
  border-radius: 8px;
}
body .modal-window .modal-window__wrap .modal-window__content form input:last-child {
  padding: 15px 0;
  font-size: 1.125rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #842231;
  cursor: pointer;
}
body .modal-window.open {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 480px) {
  body .modal-window .modal-window__wrap {
    padding: 20px 10px;
  }
}
body .burger-menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
body .burger-menu .burger-menu__wrap {
  position: absolute;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  background-image: url("../img/bg-logo__cherry.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 70%;
  background-color: #fff;
  transition: all 0.5s ease;
}
body .burger-menu .burger-menu__wrap .burger-menu__btn-close {
  position: absolute;
  top: 15px;
  right: 103%;
  width: 50px;
  height: 30px;
}
body .burger-menu .burger-menu__wrap .burger-menu__btn-close .burger-menu__btn-close__inner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 6px;
  border: 3px #dba069 solid;
  border-radius: 10px;
  transform: translateY(-50%);
}
body .burger-menu .burger-menu__wrap .burger-menu__btn-close:before,
body .burger-menu .burger-menu__wrap .burger-menu__btn-close:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  border: 3px #dba069 solid;
  border-radius: 10px;
}
body .burger-menu .burger-menu__wrap .burger-menu__btn-close:before {
  top: 0;
}
body .burger-menu .burger-menu__wrap .burger-menu__btn-close:after {
  bottom: 0;
}
body .burger-menu .burger-menu__wrap .burger-menu__content {
  height: 100%;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .burger-menu .burger-menu__wrap .burger-menu__content ul {
  padding: 50px 0 0 50px;
}
body .burger-menu .burger-menu__wrap .burger-menu__content ul li {
  padding-bottom: 20px;
}
body .burger-menu .burger-menu__wrap .burger-menu__content a {
  font-size: 1.375rem;
  font-weight: 700;
  color: #333333;
}
body .burger-menu .burger-menu__wrap .burger-menu__content > a {
  display: block;
  margin: 0 auto 30px auto;
  max-width: 300px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #dba069;
}
body .burger-menu .burger-menu__wrap .burger-menu__content ul li:active,
body .burger-menu .burger-menu__wrap .burger-menu__content a:active {
  transform: scale(0.98);
}

body .burger-menu.open {
  opacity: 1;
  visibility: visible;
}
body .burger-menu.open .burger-menu__wrap {
  right: 0;
}

body .burger-menu__btn-open {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
body .burger-menu__btn-open .burger-menu__btn-open__inner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 6px;
  border: 3px #dba069 solid;
  border-radius: 10px;
  transform: translateY(-50%);
}
body .burger-menu__btn-open:before,
body .burger-menu__btn-open:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  border: 3px #dba069 solid;
  border-radius: 10px;
}
body .burger-menu__btn-open:before {
  top: 0;
}
body .burger-menu__btn-open:after {
  bottom: 0;
}
body .burger-menu__btn-open.hide-burger-menu__btn {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 768px) {
  body .burger-menu__btn-open {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 576px) {
  body .burger-menu .burger-menu__wrap .burger-menu__content > a,
body .burger-menu .burger-menu__wrap .burger-menu__content a:active {
    font-size: 1.125rem;
  }
  body .burger-menu .burger-menu__wrap .burger-menu__content a,
body .burger-menu .burger-menu__wrap .burger-menu__content a:active {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  body .burger-menu .burger-menu__wrap {
    width: 60%;
  }
  body .burger-menu .burger-menu__wrap .burger-menu__content ul li a,
body .burger-menu .burger-menu__wrap .burger-menu__content ul li a:active {
    font-size: 1.125rem;
  }
  body .burger-menu .burger-menu__wrap .burger-menu__content > a,
body .burger-menu .burger-menu__wrap .burger-menu__content > a:active {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  body .burger-menu .burger-menu__wrap {
    width: 100%;
  }
  body .burger-menu .burger-menu__wrap .burger-menu__btn-close {
    top: 15px;
    left: 15px;
  }
  body .burger-menu .burger-menu__wrap .burger-menu__content ul {
    padding: 100px 0 0 50px;
  }
  body .burger-menu .burger-menu__wrap .burger-menu__content ul li {
    margin-bottom: 15px;
  }
  body .burger-menu .burger-menu__wrap .burger-menu__content ul li a,
body .burger-menu .burger-menu__wrap .burger-menu__content ul li a:active {
    font-size: 1.375rem;
  }
  body .burger-menu .burger-menu__wrap .burger-menu__content a,
body .burger-menu .burger-menu__wrap .burger-menu__content a:active {
    font-size: 1.375rem;
  }
}
.scrollup-btn {
  display: none;
}

@media (max-width: 768px) {
  body .scrollup-btn {
    width: 50px;
    height: 50px;
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    background-color: #842231;
    border-radius: 50%;
    overflow: hidden;
    visibility: visible;
    opacity: 0.8;
    transition: opacity 0.5s ease;
  }
  body .scrollup-btn::before, body .scrollup-btn::after {
    content: "";
    width: 40%;
    height: 2px;
    position: absolute;
    top: 45%;
    left: 50%;
    background-color: #fff;
  }
  body .scrollup-btn::before {
    transform: translate(-20%, -50%) rotateZ(50deg);
  }
  body .scrollup-btn::after {
    transform: translate(-80%, -50%) rotateZ(-50deg);
  }
  body .scrollup-btn:active {
    transform: scale(0.98);
  }
  body .scrollup-btn.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}