@font-face {
  font-family: "Fira sans", sans-serif;
  src: url("../fonts/FiraSans-Light.ttf") format("ttf");
  src: url("../fonts/firasans-light-webfont.eot") format("eot");
  src: url("../fonts/firasans-light-webfont.svg") format("svg");
  src: url("../fonts/firasans-light-webfont.woff") format("woff");
  src: url("../fonts/firasans-light-webfont.woff2") format("woff2");
  src: url("../fonts/FiraSans-bold.ttf") format("ttf");
  src: url("../fonts/firasans-bold-webfont.eot") format("eot");
  src: url("../fonts/firasans-bold-webfont.svg") format("svg");
  src: url("../fonts/firasans-bold-webfont.woff") format("woff");
  src: url("../fonts/firasans-bold-webfont.woff2") format("woff2");
}