doctype html
head
    meta(charset="UTF-8")
    meta(name='viewport' content='width=device-width, initial-scale = 1')
    title Nura elite
    link(rel="icon" type="image/x-icon" href="./img/favicon.png")
    link(rel='stylesheet' href='./css/main.css')
body
    header#header
        nav.header_nav-unscrolled#nav
            .container
                .header__logo
                    a(href="#header")
                        img(src="./img/logo.png" alt="Logo" title="Nura elite")

                .header__navigation
                    .header__navigation__contacts
                        .header__navigation__contacts_messangers
                            a(href="https://wa.me/4957777777" target="_blank")
                                svg(width='26' height='26' viewbox='0 0 26 26' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M22.2117 3.7789C21.0125 2.57748 19.5856 1.62485 18.0137 0.976186C16.4419 0.327526 14.7564 -0.00426286 13.0548 4.13467e-05C5.91957 4.13467e-05 0.111037 5.77956 0.108153 12.8838C0.108153 15.1542 0.703714 17.3702 1.83571 19.3249L0 26L6.86266 24.2074C8.76095 25.2359 10.8877 25.7752 13.049 25.7761H13.0548C20.1885 25.7761 25.9971 19.9966 25.9999 12.8924C26.0048 11.1995 25.6726 9.52254 25.0224 7.95827C24.3721 6.39401 23.4168 4.97352 22.2117 3.7789ZM13.0548 23.6018H13.0504C11.1232 23.602 9.2314 23.0859 7.57358 22.1078L7.18135 21.8753L3.10903 22.9387L4.19489 18.9876L3.93965 18.5829C2.86214 16.8757 2.29173 14.8999 2.29428 12.8838C2.29717 6.97939 7.12367 2.17579 13.0591 2.17579C14.4727 2.17267 15.8728 2.4486 17.1785 2.98761C18.4842 3.52663 19.6695 4.31802 20.6658 5.316C21.6675 6.30921 22.4615 7.49016 23.0018 8.7906C23.5421 10.091 23.8181 11.4852 23.8138 12.8924C23.8109 18.7968 18.9844 23.6018 13.0548 23.6018ZM18.957 15.5805C18.6326 15.4183 17.0434 14.6404 16.7464 14.5328C16.4508 14.4252 16.2359 14.3721 16.0196 14.6935C15.8033 15.015 15.1832 15.7398 14.9943 15.9551C14.8054 16.1704 14.6165 16.1962 14.2935 16.0355C13.9705 15.8747 12.9279 15.5346 11.692 14.4381C10.7302 13.5841 10.0813 12.5307 9.89238 12.2078C9.70347 11.8849 9.87219 11.7112 10.0351 11.5505C10.1808 11.407 10.3582 11.1745 10.5197 10.9864C10.6812 10.7984 10.7345 10.665 10.8427 10.4497C10.9508 10.2344 10.8975 10.0464 10.8153 9.88565C10.7345 9.72347 10.0871 8.13902 9.81739 7.49462C9.55639 6.87031 9.28961 6.95355 9.09061 6.94494C8.88451 6.93655 8.67824 6.93272 8.47197 6.93346C8.30795 6.93762 8.14656 6.97546 7.99792 7.04461C7.84928 7.11376 7.7166 7.21273 7.60819 7.33531C7.31113 7.65823 6.47619 8.43611 6.47619 10.0206C6.47619 11.605 7.63559 13.1364 7.7971 13.3516C7.95861 13.5669 10.0784 16.8176 13.323 18.2126C14.0959 18.5442 14.6987 18.7422 15.1674 18.8915C15.9417 19.1369 16.6469 19.101 17.205 19.0192C17.8265 18.9274 19.1185 18.2413 19.3882 17.4893C19.6579 16.7373 19.6579 16.0929 19.5771 15.958C19.4964 15.823 19.2786 15.7412 18.957 15.5805Z')

                        .header__navigation__contacts_numbers
                            a(href="tel:+77000011888") +7 700 001 18 88
                    .header__navigation__nav_menu
                        ul
                            li
                                a(href="#about-project") About project
                            li
                                a(href="#location") Location
                            li
                                a(href="#advantages") Benefits
                            li
                                a(href="#why-nura") Why we are
                            li
                                 a(href="#payments") Payments methods
                            li
                                a(href="#contacts") Contacts

        section.header__banner
            .container
                .header__banner__info
                    h1  Elite cottage village in Nur-Sultan city
                    a.header__banner_info-btn(href="#dowload_presentation") Download presentation
                    h3 36 cottages
                    .header__banner__info__box
                        div
                            div 3
                            div cottages #[br] 440 yard² #[br] 1195 yard²
                        div
                            div 33
                            div cottages #[br] 214 yard² #[br] 597 yard²

                .header__banner__deadlines
                    p #[b Construction work] began in September 2021.
                    p #[b Completion date] for cottages - I quarter of 2022
                    p #[b The deadline] for the completion of the entire cottage town is the II quarter of 2022


    main
        section._1_about-project#about-project
            h2.h2-amin-title-bg About project
            .container
                h2.h2-title About project
                .about-project__wrap
                    .about-project__wrap-inner
                        .about-project__about-company
                            p Elite closed cottage town in Nur-Sultan consisting of:
                            h3 36 cottages:
                            ul
                                li
                                    p - 440 yard² on 1195 yard²
                                li
                                    p - 214 yard² on 597 yard²
                        .about-project__about-company
                            h3 About company
                            p “MM Group” Group of Construction Companies is a modern and dynamically developing group of companies that provides a wide range of services in the construction business from design to turnkey delivery of facilities. She began her activities in the construction business in 2013 and has firmly established herself as a reliable Kazakhstani construction company not only in the territory of the Republic of Kazakhstan, but also abroad. The founder and CEO of the group of construction companies "MM Group" is Moldir Suyunshali.
                        .about-project__about-company
                            h3 Mission of company
                            p The priority of the group of construction companies "MM Group" is a professional approach with the use of innovative solutions in the construction of objects under construction, an experienced team, high-quality materials and timeliness of delivery of objects with an affordable opportunity to purchase not only housing, but also other real estate objects.
                    .about-project__wrap-inner
                        .about-project__company-logo__box
                            img.about-project__company-logo__img(src="./img/1_about-project_img.jpg")
                            .about-project__company-logo__bg-color
                            .about-project__company-logo__bg-dots
                        .about-project__about-company
                            h3 Company goal
                            p Strengthening the status of a company that is able to provide consumers with affordable and high-quality real estate on time. Development, reliability and quality!

        section._2_slider
            .container
                h2.h2-title Cottages
                .slider__wrap
                    .slider__slides
                        .slider__box
                            .slider__box__inner
                                img(src="./img/2_slider_img.jpg" alt="Cottage photo" title="Cottage")
                                img(src="./img/2_slider_img-planing.png" alt="Cottage planing" title="Planing")
                        .slider__box
                            .slider__box__inner
                                img(src="./img/2_slider_img.jpg" alt="Cottage photo" title="Cottage")
                                img(src="./img/2_slider_img-planing.png" alt="Cottage planing" title="Planing")
                        .slider__box
                            .slider__box__inner
                                img(src="./img/2_slider_img.jpg" alt="Cottage photo" title="Cottage")
                                img(src="./img/2_slider_img-planing.png" alt="Cottage planing" title="Planing")
                        .slider__box
                            .slider__box__inner
                                img(src="./img/2_slider_img.jpg" alt="Cottage photo" title="Cottage")
                                img(src="./img/2_slider_img-planing.png" alt="Cottage planing" title="Planing")
                    .slider__prev-btn
                        img(src="./img/arrow-left.svg")
                    .slider__next-btn
                        img(src="./img/arrow-right.svg")


        section._3_location#location
            h2.h2-amin-title-bg Location
            .container
                .location__content
                    h2.h2-title Location
                    p Closed cottage village Nura Elite is located in an elite and promising area of the capital, next to the green belt in the neighborhood of Vella Village.
                    p Nura Elite is a great space for solitude and active family life in harmony with nature, without city noise and with convenient transport interchange.
                .location__map-box
                    img.location__map__img(src="./img/3_location_img-map.jpg" alt="Map" title="Map")
                    div.location__map__bg-color
                    .location__map__bg-dots


        section._4_advantages#advantages
            .container
                img.advantages__dots(src="./img/dots.svg")
                img.advantages__bg(src="./img/4_advantages_bg.svg")
                .advantages__content-box
                    h2.h2-title The main advantages #[br] of the town
                    ul
                        li
                            div
                                img(src="./img/4_advantages_icon-map.svg")
                            p Favorable #[br] location
                        li
                            div
                                img(src="./img/4_advantages_icon-fencing.svg")
                            p The town is fenced around the perimeter with a 3-meter fence, equipped with a 24/7 video surveillance system
                        li
                            div
                                img(src="./img/4_advantages_icon-protection.svg")
                            p Protected #[br] area
                        li
                            div
                                img(src="./img/4_advantages_icon-armchair.svg")
                            p Here you will feel privacy, security and comfort
                    .advantages__img-box
                        img(src="./img/4_advantages_img.jpg" alt="Protected area" title="Protected area")
                    ul
                        li
                            div
                                img(src="./img/4_advantages_icon-house.svg")
                            p Individual plots are fenced with 2-meter fences
                        li
                            div
                                img(src="./img/4_advantages_icon-phone.svg")
                            p Own application
                    ul
                        li
                            div
                                img(src="./img/4_advantages_icon-wall.svg")
                            p Each owner of the cottage is given the opportunity to build additional buildings on his #[br] land plot: a bathhouse, a sauna, a summer kitchen, etc.


        section._5_why-nura#why-nura
            h2.h2-amin-title-bg Why NURA ELITE?
            .container
                h2.h2-title Why NURA ELITE?
                .why-nura__content-box
                    .why-nura__img-box
                        img.why-nura__img(src="./img/5_why-nura_img.jpg")
                        .why-nura__bg-color
                        .why-nura__bg-dots
                    .why-nura__content-box__inner
                        ul
                            li
                                div
                                    img(src="./img/5_why-nura_icon-lightning.svg")
                                span
                                    b Energy efficiency
                                    p Houses keep warm in winter and cool in summer
                            li
                                div
                                    img(src="./img/4_advantages_icon-protection.svg")
                                span
                                    b Security
                                    p Closed campus with round-the-clock video surveillance
                        ul
                            li
                                div
                                    img(src="./img/5_why-nura_icon-hends.svg")
                                span
                                    b Ecologically clean area
                                    p The town is located near the forest belt and the village of Nura-Yesil
                            li
                                div
                                    img(src="./img/5_why-nura_icon-tear.svg")
                                span
                                    b Communications
                                    p Centralized water supply, power supply and sewerage.
                                    p The heating system and hot water is one common gas tank for the entire town, functioning at the expense of gas.

        section._6_technologies#technologies
            h2.h2-amin-title-bg Building technology
            .container
                h2.h2-title Building technology
                .technologies__content-box
                    ul
                        li
                            img.technology_img-1(src="./img/6_technology_img-1.png" alt="Wall construction" title="Wall construction")
                            h3 Wall construction
                            p Double burnt red brickwork - 38/40 cm, insulated with mineral board - 10 cm, and cladding with HPL and FBC panel
                        li
                            img.technology_img-3(src="./img/6_technology_img-3.png" alt="Door construction" title="Door construction")
                            h3 Door construction
                            p IZO TERMO technology.
                            The doors do not touch the outer ones. Between them is an insulator - a shield made of Portuguese cork oak 8 mm thick. IZO TERMO eliminates the "cold bridge" and does not allow heat to leave the house. With this technology, you do not need a vestibule and a second door.
                        li
                            img.technology_img-5(src="./img/6_technology_img-5.png" alt="Façade construction" title="Façade construction")
                            h3 Façade construction
                            p HPL panel is a high quality construction product for durable facade cladding. Weather resistance +180s/-180s with high weatherproofing effect. This protection is provided by the use of dual-curing acrylic polyurethane resins. Refers to environmentally friendly materials.
                    ul
                        li
                            img.technology_img-2(src="./img/6_technology_img-2.png" alt="Window construction" title="Window construction")
                            h3 Window construction
                            p High environmental friendliness, safety, reliability and durability, enhanced heat-insulating capacity, which is provided by a five-chamber structure of a profile with triple glazing and sound insulation (the Helios system is designed for 44 mm thick double-glazed windows with an air gap of 16 mm, passing through which low-frequency noises lose their intensity, which is very valued by residents) using FUNKE technology
                        li
                            img.technology_img-4(src="./img/6_technology_img-4.png" alt="Roof structure" title="Roof structure")
                            h3 Roof structure
                            p Flexible tile TECHNONICOL SHINGLAS is a guarantee of comfort and safety of your home. Houses with a roof made of TECHNONICOL SHINGLAS shingles captivate with their harmony and grace. The collections are distinguished by a variety of shapes and colors.
                        li
                            img.technology_img-6(src="./img/6_technology_img-6.png" alt="" title="")
                            h3 Foundation blocks wall
                            p FBC is a unique and high-quality building material for durable facade cladding.
                                | High frost resistance, fire safety, good sound and heat insulation, tightness, increased strength, weather resistance.
                                | for both humans and the environment. They do not contain asbestos, consist of environmentally friendly natural ingredients: 82-85% cement, wood fiber, weight loss additives, organosilicon compounds
                .technologies__download-presentation__box#dowload_presentation
                    .technologies__download-presentation
                        h2.h2-title Download presentation
                        p Leave your contacts and we will send you
                        form
                            input._req(type="text" placeholder="Your name" required)
                            input._req(type="number" placeholder="Phone number" required)
                            input(type="submit")
                    .technologies__bg-logo
                        img(src="./img/bg-logo__cherry.svg")

        section._7_payments#payments
            h2.h2-amin-title-bg Payment methods
            .container
                h2.h2-title Payment methods
                ul
                    li
                        img.payments_icon-1(src="./img/7_payments_icon-1.svg")
                        p Getting a loan through #[br] “ЖилСтройСберБанк”
                    li
                        img.payments_icon-2(src="./img/7_payments_icon-2.svg")
                        p Obtaining #[br] interest-free installments #[br] from the developer #[br] NURA ELITE
                    li
                        img.payments_icon-3(src="./img/7_payments_icon-3.svg")
                        p Kazakhstan Mortgage #[br] Company «Орда»
                    li
                        img.payments_icon-4(src="./img/7_payments_icon-4.svg")
                        p Payment with #[br] cryptocurrency (Bitcoin)
                .payments__address#contacts
                    .payments__address__map
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2503.755751349219!2d71.42242228172763!3d51.13141316940208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424586a04e901251%3A0x5047617e2afb5feb!2z0JjQt9GD0LzRgNGD0LTQvdGL0Lkg0LrQsi3Quywg0YPQuy4g0JTQuNC90LzRg9GF0LDQvNC10LTQsCDQmtGD0L3QsNC10LLQsCAxMCwg0J3Rg9GALdCh0YPQu9GC0LDQvSAwMjAwMDAsINCa0LDQt9Cw0YXRgdGC0LDQvQ!5e0!3m2!1sru!2sua!4v1646328085084!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    .payments__address__contacts
                        h2.h2-title Contacts
                        a(href="https://www.google.com/maps/place/%D0%91%D0%A6+Emerald+Tower/@51.1307261,71.4210632,17z/data=!4m9!1m2!2m1!1z0J3Rg9GALdCh0YPQu9GC0LDQvSwg0JrQsNC30LDRhdGB0YLQsNC9INGD0LsuINCa0YPQvdCw0LXQstCwIDEwLCDQkdCmIOKAnNCY0LfRg9C80YDRg9C00L3Ri9C54oCd!3m5!1s0x42458713a6ad47d5:0x51b4bb921db67e09!8m2!3d51.1308914!4d71.4236561!15sCmDQndGD0YAt0KHRg9C70YLQsNC9LCDQmtCw0LfQsNGF0YHRgtCw0L0g0YPQuy4g0JrRg9C90LDQtdCy0LAgMTAsINCR0KYg4oCc0JjQt9GD0LzRgNGD0LTQvdGL0LnigJ2SARpvZmZpY2Vfc3BhY2VfcmVudGFsX2FnZW5jeQ" target="_blank") Nur-Sultan city, st. Kunaeva 10, business center "Emerald", block - A, floor 1
                        .payments__address__contacts-box
                            ul
                                li
                                    img(src="./img/phone-black.svg")
                                    a(href="tel:+77000011888") +7 (700) 001-18-88
                                li
                                    img(src="./img/email-black.svg")
                                    a(href="mailto:info@nuramm.kz") info@nuramm.kz
                                li
                                    img(src="./img/inst-black.svg")
                                    a(href="https://www.instagram.com/nura_premier/" target="_blank") @nura.premier
                            img(src="./img/7_payments_qr-code.svg")


    footer
        .container
            ul
                li
                    a(href="#advantages") Benefits
                li
                    a(href="#why-nura") Why we are
                li
                    a(href="#technologies") Technologies
                li
                    a(href="#payments") Payments methods

    .burger-menu__btn-open
        .burger-menu__btn-open__inner

    .burger-menu
        .burger-menu__wrap
            .burger-menu__btn-close
                .burger-menu__btn-close__inner
            .burger-menu__content
                ul
                    li
                        a(href="#about-project") About project
                    li
                        a(href="#location") Location
                    li
                        a(href="#advantages") Benefits
                    li
                        a(href="#why-nura") Why we are
                    li
                        a(href="#payments") Payments methods
                    li
                        a(href="#contacts") Contacts

                a.modal-window__link(href="#") Download presentation

    .modal-window
        .modal-window__wrap
            .modal-window__content
                h2.h2-title Download presentation
                p Leave your contacts and we will send you
                form
                    input._req(type="text" placeholder="Your name" required)
                    input._req(type="number" placeholder="Phone number" required)
                    input.close-modal-window(type="submit")


    a.scrollup-btn.hidden(href="#header")

    script(src="./js/script.js")