@font-face
  font-family: "Fira sans", sans-serif
  src: url("../fonts/FiraSans-Light.ttf") format("ttf")
  src: url("../fonts/firasans-light-webfont.eot") format("eot")
  src: url("../fonts/firasans-light-webfont.svg") format("svg")
  src: url("../fonts/firasans-light-webfont.woff") format("woff")
  src: url("../fonts/firasans-light-webfont.woff2") format("woff2")
  src: url("../fonts/FiraSans-bold.ttf") format("ttf")
  src: url("../fonts/firasans-bold-webfont.eot") format("eot")
  src: url("../fonts/firasans-bold-webfont.svg") format("svg")
  src: url("../fonts/firasans-bold-webfont.woff") format("woff")
  src: url("../fonts/firasans-bold-webfont.woff2") format("woff2")
/*=================== Fonts ===================*/

.container
  padding: 0 10px
  max-width: 1200px
  width: 100%
  margin: 0 auto

.line-height22px
  line-height: 1.375rem

/*=================== Variables ===================*/
$font17px: 1.0625rem
$font18px: 1.125rem
$font20px: 1.25rem
$font32px: 2rem
$font38px: 2.375rem
$font48px: 3rem
$font128px: 8rem

/*=================== Mixins ===================*/
=display($property)
  display: -webkit-$property
  display: -ms-$property
  display: $property

=grid-layout($column, $row)
  -webkit-grid-template-columns: $column
  -ms-grid-template-columns: $column
  grid-template-columns: $column
  -webkit-grid-template-rows: $row
  -ms-grid-template-rows: $row
  grid-template-rows: $row

=transform($property)
  -webkit-transform: $property
  -ms-transform: $property
  transform: $property

/*=================== Header ===================*/
header
  padding-bottom: 114px
  background: url("../img/header_bg.jpg") center -50px no-repeat fixed
  color: #fff

  nav.container
    +display(flex)
    margin-bottom: 115px

    justify-content: space-between

    .header__logo
      a
        img
          max-width: 144px
          max-height: 137px
          min-width: 50px
          min-height: 40px
          width: 100%

    .header__navigation
      position: relative
      padding-top: 71px

      .header__navigation__contacts
        position: absolute
        top: 25px
        right: 0
        +display(flex)
        margin-bottom: 25px

        .header__navigation__contacts_numbers
          transition: all 1s ease

          &:active
            transform: scale(.97)

          &:hover
            a
              background-color: rgb(219, 160, 105)

          a
            position: relative
            margin-left: 35px
            padding: 10px 20px 10px 52px
            color: #fff
            border: 1px #DBA069 solid
            border-radius: 3px
            transition: all 1s ease



            &:before
              content: url("../img/phone.svg")
              margin-right: 10px
              position: absolute
              top: 6px
              left: 20px

      .header__navigation__nav_menu
        ul
          +display(flex)

          li
            position: relative
            margin-left: 50px

            a
              color: #fff

            &:after
              content: ""
              position: absolute
              left: 0
              bottom: -5px
              height: 4px
              width: 1%
              transition: all 1s ease

            &:active
              transform: scale(.97)

            &:hover
              &:after
                width: 100%
                background-color: #DBA069

  section.header__banner.container
    +display(flex)

    .header__banner__info
      width: 100%
      max-width: 846px
      font-size: $font20px

      h1
        margin-bottom: 20px
        font-size: $font38px
        font-weight: 700

      a
        max-width: 285px
        display: block
        margin-bottom: 40px
        padding: 20px 30px
        font-weight: 700
        color: #000
        background-color: #DBA069
        transition: all .5s ease

        &:hover
          color: #ffffff

        &:active
          transform: scale(.97)
          background-color: #b48559

      h3
        margin-bottom: 20px
        font-size: $font32px
        font-weight: 700

      .header__banner__info__box
        +display(flex)

        div
          +display(flex)
          margin: auto 0

          div:first-child
            font-size: $font128px

        div:first-child
          margin-right: 26px

    .header__banner__deadlines
      width: 100%
      max-width: 296px

      p:not(:last-child)
        margin-bottom: 20px

/* =================== Main =================== */
main

  // =============== About project =============== //
  section._1_about-project.container
    padding-top: 127px

    h2
      margin-bottom: 60px
      font-size: $font48px
      font-weight: 700

    .about-project__wrap
      +display(grid)
      +grid-layout(600px 442px, .5fr .5fr .5fr)
      justify-content: space-between

      .about-project__company-logo__box
        position: relative

        .about-project__company-logo__img,
        .about-project__company-logo__bg-color,
        .about-project__company-logo__bg-dots
          display: block
          position: absolute
          width: 442px
          height: 418px
          transition: all .5s ease

        .about-project__company-logo__img
          z-index: 3

        .about-project__company-logo__bg-color
          background-color: #842231
          z-index: 2

        .about-project__company-logo__bg-dots
          background: url("../img/dots.svg")
          z-index: 1

        &:hover
          .about-project__company-logo__img
            transform: translate(-80px, -80px)


          .about-project__company-logo__bg-color
            transform: translate(-40px, -40px)


      .about-project__about-company
        margin-bottom: 60px

        h3
          font-size: $font20px
          font-weight: 700
          line-height: 22px
          margin-bottom: 20px

        p
          margin-bottom: 20px
          font-size: $font20px
          line-height: 22px

        b
          font-size: $font20px
          line-height: 22px

        ul
          li
            font-size: $font20px
            line-height: 22px

  // =============== Slider =============== //
  section._2_slider
    padding-top: 40px
    background-color: rgba(132, 34, 49, 0.05)

    .slider__wrap.container
      h2
        font-size: $font48px
        font-weight: 700
        margin-bottom: 28px