@include media_desktop
  main
    section._3_location.container
      .location__content
        margin-right: 25px

      .location__map-box
        img.location__map__img
          position: initial

        .location__map__bg-color,
        .location__map__bg-dots
          display: none

@include media_laptop
  main
    section._3_location.container
      display: initial

      .location__content
        max-width: 100%
        margin-bottom: 25px

      .location__map-box
        margin: 0 auto
        max-width: 100%
        max-height: initial
        height: initial