main
  section._7_payments
    padding-top: 131px

    .container
      margin-bottom: 56px

      h2
        margin-bottom: 60px
        text-align: center

      >ul
        margin: 0 auto
        +display(flex)
        justify-content: space-between
        max-width: 883px
        width: 100%
        text-align: center

        li
          img
            margin-bottom: 15px

          img.payments_icon-1
            max-width: 124px
            width: 100%

          img.payments_icon-2
            max-width: 87px
            width: 100%

          img.payments_icon-3
            max-width: 69px
            width: 100%

          img.payments_icon-4
            max-width: 80px
            width: 100%


          p
            font-size: 1.0625rem
            font-weight: 700

      .payments__address
        margin-top: 100px
        +display(flex)
        justify-content: space-between

        .payments__address__map
          margin-right: 20px

        .payments__address__contacts
          h2
            margin-bottom: 30px

          >a
            margin: 0 0 30px 30px
            display: inline-block
            position: relative
            font-size: $font18px

          >a:before
            content: ''
            display: block
            position: absolute
            left: -30px
            background-image: url('../img/location_icon.svg')
            background-size: 20px 20px
            width: 20px
            height: 20px

          .payments__address__contacts-box
            +display(flex)
            justify-content: space-between

            ul
              margin-top: 3px
              li
                +display(flex)

                img
                  margin-right: 12px

              li:not(:last-child)
                margin-bottom: 10px